@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>@Html.ActionLink("Unreconciled All", "Unreconciled")</p>
<p>@Html.ActionLink("Unreconciled ING", "Unreconciled", new { id = 1})</p>
<p>@Html.ActionLink("Bills Due", "BillsDue")</p>